.move {
  float: left;
  flex: 30%;
  width: 20%;
  padding: 3px, 5px, 5px, 3px;
  margin-left: 30px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
  background-color: transparent;
}

.text-color{
    color: black;
}

