@keyframes color {
  0%   { background: beige; }
  20%  { background: gray; }
  40%  { background: blanchedalmond; }
  60%  { background: gainsboro; }
  80%  { background: bisque; }
  100% { background: beige; }
}

body {
  background: black; /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
}
.form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textbar{
  width: 50%;
  border: none;
  border-radius: 7%;
  display: block;
    border: 1px solid #aaa;
    font-size: 16px;
    padding: 10px 10px;
    background: #fff;
    padding-left: 40px;
    border-radius: 20px;
    box-sizing: border-box;

}

.button{
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: black;
  border-radius: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.image{
  border-radius: 10%;
  height: 300px;
  width: 300px;
}

.dip{
  border-radius: 10%;
  height: 300px;
  width: 300px;
  margin-top: 20px;
}
.back{
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: black;
  border-radius: 20px;
  margin-left: 20px;
  cursor: pointer;
}
